   /* Styles CSS pour la page (facultatif) */
    body {
      font-family: sans-serif;
    }
    form {
      width: 300px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ccc;
    }
    input[type="text"], input[type="password"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
    }
    h1{
        color: cornflowerblue;
    }
    button {
      padding: 10px 20px;
      background-color: cornflowerblue;
      color: white;
      border: none;
      cursor: pointer;
    }
